* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: poppins , sans-serif;
}

body{
    background-image: url(Assets/pexels-brett-sayles-912364.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-clip: border-box; */
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    height: 400px;
    width: 800px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}
  h1{
    color: white;
    margin-bottom: 1rem;
  }
input{
    padding: 10px 20px;
    font-size: medium;
    border: none;
    border-radius: 6px 0 0 6px ;
    margin-right: 10px;
}
button{
    padding: 10px 20px;
    font-size: medium;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    background-color: green;
    color: #fff;
}

#result{
    margin-top: 3.5rem;
    color: #fff;
}

#result p{
    margin-top: 10px;
    font-size: larger;
    font-weight: 600;
}
